/******************** General *********************/

body {
    padding-bottom: 300px;
}

.section {
    padding-top: 3em;
}

.block {
    padding-top: 2em;
}

/******************** Text *********************/

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.period {
    font-style: italic;
}

/******************** Organization Logo's (e.g. VU Amsterdam, Hoornse Brassband) *********************/

.logo {
    height: 100px;
}

/******************** Social Media Icons *********************/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #E1306C;
    color: white;
}

.fa-linkedin {
    background:  #0e76a8;
    color: white;
}

/******************** Header *********************/

header {
    position: fixed;
    background-color: #3B5998;
    width: 100%;
    cursor: pointer
}

#sidenav-button {
    display: inline;
    font-size: 30px;
}

#page-title {
    display: inline;
}

/******************** Navigation Bar *********************/

#main, #page-title {
    transition: 0.5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}